@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$OBObgcolor: #0A314D;
$OBOcolor: #ffffff;

.menu {

  .header {
    height: 40px;
    text-align: left;
    line-height: 2.5;
    font-weight: bold;
    display: flex;
    position: relative;
    /*background-color: $ms-color-themeDark;*/
    background-color: $OBObgcolor;
    /*color: $ms-color-white;*/
    color: $OBOcolor;
  }

  .menuicon {
    width: 30px;
    height: 20px;
    float: left;
    margin: 4px;
    cursor: pointer;
  }

  .menubar {
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background-color: #fff;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change #menubar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  /* Fade out the second bar */
  .change #menubar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change #menubar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .globalMenu {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 0;
    line-height: normal;
    padding-bottom: 25px;
    padding-top: 5px;
    height: 0;
    transition: opacity 1s ease-out;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    display: table;
  }

  .globalMenu.change {
    opacity: 1;
    height: auto;
    z-index: 20000;
  }

  .row12 {
    width: 100%;
    display: table-row;
  }

  .colCell {
    float: left;
    display: table-cell;
    width: 20%;
    margin-left: 10px;
    min-height: 240px;
    background-color: #fff;
    border: 1px solid rgba(18, 98, 101, 1);
    border-left: 10px solid rgba(18, 98, 101, 1);
  }

  .colCell>h2 {
    color: rgba(18, 98, 101, 1);
  }

  .colCell>ul>li:hover {
    background-color: rgba(24, 131, 135, 1);
  }

  .colCell>ul>li>a:hover {
    color: #fff;
  }
}

.footer {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  /*background-color: $ms-color-themeDark;*/
  background-color: $OBObgcolor;
  /*color: $ms-color-white;*/
  color: $OBOcolor;
  border-top: 2px solid;
  border-top-color: $ms-color-themeSecondary;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $ms-color-themePrimary;
    }
  }

  .home{
    flex: 33.3%;
    padding-left: 10px;
    display: flex;
    align-items: center;
  
    .homeLogo{
      padding-right:5px;
      display: flex;
      cursor: pointer;
      overflow: hidden;
      justify-content: center; /* Center the image horizontally */
      align-items: center; /* Center the image vertically */

      img {
        max-height: 30px;

        &:hover{
          background: #345d9694;
        }
      }

    }

    .homeTitle{
      cursor: pointer;
    }
    
  }
  
  .stickyLinks{
    flex: 33.3%;
    display:flex;
    justify-content: center;

    div{
      padding: 0 10px;
      text-align: center;

      &:not(:first-child){
        //border-left: 1px solid $ms-color-themeDarker;
        border-left: 1px solid $ms-color-neutralPrimary;
      }

    }

  }

  .support{
    flex: 33.3%;
    padding-right: 10px;
    
      div{
        display: flex;
        float: right;
        cursor: pointer;
  
        &:hover {
          color: $ms-color-themePrimary;
        }
    
        &:hover i, i {
          //color: $ms-color-themePrimary;
          color: $ms-color-themeDarker;
        }

        i{
          font-size: 20px;
          padding-right: 5px;
          color: #A6E5F3;
        }

    }
  }
}