//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
// $enable-gradients: true;
// $enable-shadows: true;

// $offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "~bootstrap/scss/functions";

// Customize some defaults
// $body-color: #333;
// $body-bg: #fff;
// $border-radius: .4rem;
// $success: #7952b3;
$accordion-button-bg: #333; 

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

//@import "~bootstrap/scss/type";
// @import "bootstrap/scss/images";
//@import "~bootstrap/scss/containers";
//@import "~bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
//@import "~bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
//@import "~bootstrap/scss/utilities/api";


//
// Custom styles
//


@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
//@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

// $accordion-button-bg: blue;

// // Required for bootstrap overrides
// @import "../../../../node_modules/bootstrap/scss/functions";
// // Default variable overrides
// // $body-bg: #000;
// // $body-color: #111;
// // Required for bootstrap
// @import "../../../../node_modules/bootstrap/scss/variables";
// @import "../../../../node_modules/bootstrap/scss/variables-dark";
// @import "../../../../node_modules/bootstrap/scss/mixins";
// @import "../../../../node_modules/bootstrap/scss/root";
// // Bootstrap component
// @import '../../../../node_modules/bootstrap/scss/accordion';

$OBObgcolor: #0A314D;
$OBOcolor: #ffffff;
$OBOhoverBG: #A6E5F3;
$OBOhoverLink: #2499C2;
$MenuHoverBG: #cfe2ff;


/*** override bootstrap classes taking over SP controls ***/
body, body.ms-font-m{
  background-color: $ms-color-white !important;
}

/***************  Top header component *******************/
.menu {

  .category {
    height: 40px;
    text-align: left;
    /*background-color: $ms-color-themeDark;*/
    background-color: $OBObgcolor;
    /*color: $ms-color-white;*/
    color: $OBOcolor;
  }

  .menuIcon {
    width: 1em;
    margin-left: 0.5em;

    .toggleButton {
      background-color: transparent;
      border: 0;
      color: inherit;
      padding: 0;
      min-width: 0;

      &:hover {
        color: $ms-color-themePrimary;
      }

      div {
        width: 1em;
        height: 40px;
        line-height: 40px;
      }
    }

  }

  /**********************  MENU/Navigation ************************/
  .globalMenu {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: $OBOcolor;
    color: $OBObgcolor;
    z-index: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 0;
    transition: opacity .25s ease-out;
    opacity: 0;
    overflow: hidden;
    min-width: 600px;
    border: 2px solid #91c9d5;

    .menuTopRow {
      display: flex;
      padding: 16px 20px;
      align-items: center;
      cursor: pointer;

      div {
        flex: 50%;
        display: flex;
      }

      .menuHome {
        justify-content: left;
      }

      .menuExpand {
        justify-content: right;
      }

    }

  }

  .globalMenu.change {
    opacity: 1;
    height: calc(100% - 35px); /*subtract top indent*/
    z-index: 20000;
  }
}

/********* customized Accordion styles **********/
.accordionContainerHide{
  display: none !important;
}

.accordion-button{
  color: $MenuHoverBG;
  $bs-accordion-color: $MenuHoverBG;
  // > i {
  //   color: $OBOhoverLink;
  // }
}

.categoryIcon {
  padding-right: 10px;
  padding-top:2px;
}

.childItem {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-top: 3px;
  cursor: pointer;

  &.linkOnly:hover{
    > div > a{
      color: $OBOhoverLink;
    }
  }

  &:hover{
    background-color: $MenuHoverBG;
  }

  a, a:visited,
  > div > a, a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $OBOhoverLink;
    }
  }

  > div:first-child > i {
    padding-left: 3px;
  }

  .moreItemsIcon{
    text-align: right;
    flex-grow: 1;
    padding-right: 5px;
  }
}

/****************** breadcrumb / click menu *********************/

.childItem.indent{
  padding-left: 50px;
}

.clickMenu{
  width: 100%;
  display: none !important;
  box-sizing: content-box; /*undo the icon :before :after box-sizing*/

  .mainMenuBack{
    border-bottom: 1px solid black;
    font-weight: 500;
    cursor: pointer;

    &:hover{
      background-color: $MenuHoverBG;
      color: $ms-color-themePrimary;
    }
  }

  .parentItem{
    font-weight: 500;

    &:hover {
      color: $ms-color-themePrimary;
      background-color: $MenuHoverBG;
    }
  }
}
.clickMenu.toggle{
  display: inline-block !important;
}

/********************** Search ************************/
.searchCustom{
  padding: 10px;

  .searchBox{
    width: 350px;
  }

  .searchResults{
    padding-top: 20px;
  }

  .resultsItem{
    display: flex;
    cursor: pointer;

    > div{
      padding: 4px 3px;
    }

    &:hover{
      background-color: $MenuHoverBG;
    }

    &:hover > div {
      color: $OBOhoverLink;
    }
  }

  .level2item{
    padding-left: 15px;
  }

  .level3item{
    padding-left: 50px;
  }

  .childOfIcon{
    padding-top:3px;
  }

}


/*************** FOOTER ***************/
.footer {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  /*background-color: $ms-color-themeDark;*/
  background-color: $OBObgcolor;
  /*color: $ms-color-white;*/
  color: $OBOcolor;
  border-top: 2px solid;
  border-top-color: $ms-color-themeSecondary;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $ms-color-themePrimary;
    }
  }

  .home {
    flex: 33.3%;
    padding-left: 10px;
    display: flex;
    align-items: center;

    .homeLogo {
      padding-right: 5px;
      display: flex;
      cursor: pointer;
      overflow: hidden;
      justify-content: center;
      /* Center the image horizontally */
      align-items: center;
      /* Center the image vertically */

      img {
        max-height: 30px;

        &:hover {
          background: #345d9694;
        }
      }

    }

    .homeTitle {
      cursor: pointer;
    }

  }

  .stickyLinks {
    flex: 33.3%;
    display: flex;
    justify-content: center;

    div {
      padding: 0 10px;
      text-align: center;

      &:not(:first-child) {
        //border-left: 1px solid $ms-color-themeDarker;
        border-left: 1px solid $ms-color-neutralPrimary;
      }

    }

  }

  .support {
    flex: 33.3%;
    padding-right: 10px;

    div {
      display: flex;
      float: right;
      cursor: pointer;
      align-items: center;

      &:hover {
        color: $ms-color-themePrimary;
      }

      &:hover i,
      i {
        //color: $ms-color-themePrimary;
        color: $ms-color-themeDarker;
      }

      i {
        font-size: 20px;
        padding-right: 5px;
        color: $OBOhoverLink;
      }

    }
  }

  

}

