//
// Custom styles
//
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

//$OBOhoverLink: #2499C2; //for a white background
$OBOhoverLink: #FAD980;

/*** override bootstrap classes taking over SP controls ***/
body,
body.ms-font-m {
  background-color: $ms-color-white !important;
}

/***************  Top header component *******************/
.menu {

  .menuIconContainer {
    height: 40px;
    text-align: left;
    /*background-color: $ms-color-themeDark;*/
    background-color: var(--bs-body-bg);
    /*color: $ms-color-white;*/
    color: var(--bs-body-color);
  }

  .menuIcon {
    width: 1em;
    margin-left: 0.5em;

    .toggleButton {
      background-color: transparent;
      border: 0;
      color: inherit;
      padding: 0;
      min-width: 0;

      &:hover {
        color: $ms-color-themePrimary;
      }

      div {
        width: 1em;
        height: 40px;
        line-height: 40px;
      }
    }

  }

  /**********************  MENU/Navigation ************************/
  .globalMenu {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    z-index: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 0;
    transition: opacity .25s ease-out;
    opacity: 0;
    overflow: hidden;
    min-width: 600px;
    border: 2px solid var(--bs-body-color);

    .menuTopRow {
      display: flex;
      padding: 16px 20px;
      align-items: center;
      cursor: pointer;

      div {
        flex: 50%;
        display: flex;
      }

      .menuHome {
        justify-content: left;
      }

      .menuExpand {
        justify-content: right;
      }

    }

  }

  .globalMenu.change {
    opacity: 1;
    height: auto;
    min-height: 80%;
    max-height: calc(100% - 35px);
    /*subtract top indent*/
    z-index: 20000;
  }
}

/********* customized Accordion styles **********/
.accordionContainerHide {
  display: none !important;
}

.accordion-homeCategory > button::after {
  display: none;
  background-image: none;
}

.categoryIcon {
  padding-right: 10px;
  padding-top: 2px;
}

.childItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-top: 3px;
  cursor: pointer;

  &.linkOnly:hover {
    >div>a {
      color: $OBOhoverLink;
    }
  }

  &:hover {
    background-color: var(--bs-primary-bg-subtle);
  }

  a,
  a:visited,
  >div>a,
  a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $OBOhoverLink;
    }
  }

  >div:first-child>i {
    padding-left: 3px;
  }

  .moreItemsIcon {
    text-align: right;
    flex-grow: 1;
    padding-right: 5px;
  }
}

/****************** breadcrumb / click menu *********************/

.childItem.indent {
  padding-left: 50px;
}

.clickMenu {
  width: 100%;
  display: none !important;
  box-sizing: content-box;
  /*undo the icon :before :after box-sizing*/

  .mainMenuBack {
    border-bottom: 1px solid black;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: var(--bs-primary-bg-subtle);
      color: var(--bs-body-color);
    }
  }

  .parentItem {
    font-weight: 500;

    &:hover {
      background-color: var(--bs-primary-bg-subtle);
      color: var(--bs-body-color);
    }
  }
}

.clickMenu.toggle {
  display: inline-block !important;
}

/********************** Search ************************/
.searchCustom {
  padding: 10px;

  .searchBox {
    width: 350px;
  }

  .searchResults {
    padding-top: 20px;
  }

  .resultsItem {
    display: flex;
    cursor: pointer;

    >div {
      padding: 4px 3px;
    }

    &:hover {
      background-color: var(--bs-primary-bg-subtle);
    }

    &:hover>div {
      color: $OBOhoverLink;
    }
  }

  .level2item {
    padding-left: 15px;
  }

  .level3item {
    padding-left: 50px;
  }

  .childOfIcon {
    padding-top: 3px;
  }

}


/*************** FOOTER ***************/
.footer {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  /*background-color: $ms-color-themeDark;*/
  background-color: var(--bs-body-bg);
  /*color: $ms-color-white;*/
  color: var(--bs-body-color);
  border-top: 2px solid;
  border-top-color: $ms-color-themeSecondary;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $ms-color-themePrimary;
    }
  }

  .home {
    flex: 33.3%;
    padding-left: 10px;
    display: flex;
    align-items: center;

    .homeLogo {
      padding-right: 5px;
      display: flex;
      cursor: pointer;
      overflow: hidden;
      justify-content: center;
      /* Center the image horizontally */
      align-items: center;
      /* Center the image vertically */

      img {
        max-height: 30px;

        &:hover {
          background: #345d9694;
        }
      }

    }

    .homeTitle {
      cursor: pointer;
    }

  }

  .stickyLinks {
    flex: 33.3%;
    display: flex;
    justify-content: center;

    div {
      padding: 0 10px;
      text-align: center;

      &:not(:first-child) {
        //border-left: 1px solid $ms-color-themeDarker;
        border-left: 1px solid $ms-color-neutralPrimary;
      }

    }

  }

  .support {
    flex: 33.3%;
    padding-right: 10px;

    div {
      display: flex;
      float: right;
      cursor: pointer;
      align-items: center;

      &:hover {
        color: $ms-color-themePrimary;
      }

      &:hover i,
      i {
        //color: $ms-color-themePrimary;
        color: $ms-color-themeDarker;
      }

      i {
        font-size: 20px;
        padding-right: 5px;
        color: $OBOhoverLink;
      }

    }
  }



}